body {
  background: #F5F5F6;
  color: #888888;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  color: #000;
  font-family: 'Graduate', cursive;
}

h3 {
  color:#434854;
}
i {
  color: #FAB241;
}
p{
  font-family: 'Roboto', sans-serif;
  padding-right: 10px;
  padding-left: 10px; 
}
a {
  color:#446576;
  text-decoration: none;
  margin-top: auto;
}
a:hover {
  text-decoration: underline;
}
.hidden {
  display: none;
}
ul, li {
  list-style: none;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
li {
  width: 80vw;
  background: #fff;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
li {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
li:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
label {
  margin-top: 15px;
  margin-bottom: 5px;
}
select {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  height: 30px;
}
button {
  padding: 10px 30px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 13px;
}
button:hover {
  opacity: 0.8;
}
.delete {
  background-color: #ea4c89;
  border: solid 5px #ea4c89;
  margin-bottom: 18px;
}
.submit-button {
  background-color: #53c68c;
  border: solid 5px #53c68c;
}
.refresh-button {
  background-color: #5A5A5A;
  border: solid 5px #5A5A5A;
}
.add-button {
  background-color: #27AAE1;
  border: solid 5px #27AAE1;
}
.filter-button {
  background-color: #F7CB1B;
  border: solid 5px #F7CB1B;
}
.bookmark-form {
  display: flex;
  flex-direction: column;
}
.js-title, .js-url, .js-desc {
  height: 25px;
  width: 80vw;
}
.js-desc {
  height: 75px;
}
.radio-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 15px;
  justify-content: space-around;
}
.rating-label {
  width: 100%;
}
.main-buttons {
  display: flex;
  width: 70vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/* iPad and Desktop */
@media (min-width: 768px) { 
  li {
    width: 20vw;
    margin-left: 15px;
    margin-right: 15px; 
    margin-top: 15px;
  }
  .js-title, .js-url, .js-desc {
    width: 20vw;
}
  .main-buttons {
    width: 600px;
  }
  
  .add-button {
    margin-right: 15px; 
  }
  .filter-button {
    margin-left: 15px;
  }
  ul {
  width: 85vw;
  }

}