body {
  background: black;
  color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  color: lightblue;
}

.hidden {
  display: none;
}
ul, li {
  list-style: none;
}